#todo {
  border-radius: 14px;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.07);
}
li {
  display: flex;
  justify-content: space-evenly;
  width: 35em;
  margin-bottom: 10px;
}

span {
  width: 90px;
}

#upperBtn {
  margin-right: 10px;
}

#addBtn {
  margin-top: 10px;
}

#inp {
  width: 350px;
  text-align: center;
  height: 25px;
  border-radius: 14px;
  border: 2px solid white;
}
