#todo {
  border-radius: 14px;
  padding: 20px;
  filter: drop-shadow(0px 0px 7px black);
  box-shadow: 0px 0px 20px crimson;
  background: linear-gradient(90deg, #4444dd 0%, crimson 100%);
}
li {
  display: flex;
  justify-content: space-evenly;
  width: 35em;
  margin-bottom: 10px;
}

span {
  width: 120px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

#upperBtn {
  margin-right: 10px;
}

#addBtn {
  margin-top: 10px;
}

#inp {
  width: 350px;
  text-align: center;
  height: 25px;
  border-radius: 14px;
  border: 2px solid white;
}


.btn {
  background: rgba(68, 68, 221, 0.4);
}
